@import '~bootstrap/scss/bootstrap';
$green-color: #0ba029;
$bright-red-color: #f44842;

.game-container {
  margin: 120px auto 0;
}

.game-board {
  background-color: white;
  border: 4px solid gray;
  border-radius: 10px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  height: 310px;
  margin: 0 auto;
  width: 310px;
}

.box {
  align-items: center;
  border: 2px solid gray;
  border-radius: 2px;
  display: flex;
  font-size: 25px;
  justify-content: center;

  &:hover {
    background-color: #bfd2cd;
  }
}

.error-message {
  color: $bright-red-color;
}

.success-message {
  color: $green-color;
}

.hidden {
  display: none;
}
